/* color palette */
  :root {
    --lightgreen: #B1B193;
    --darkgreen: #3d3a1b;
    --evendarkergreen: #383518;
    --orange: #D9815D;
    --darkerorange: #cf7a59;
    --yellow: #E3B76A;
    --darkeryellow: #d8ac60;
    --rose: #B3726A;
    --brown: #C8A288;

    --black: #070707;
    --white: #FAFAFA;
    --grey : #424242;
    --lightgray: #e0e0e0;

    --icons: #262626;
  }

/* typography */

  /* Headlines (Try to have just one pr page, for better SEO) */
  h1 {
    color: var(--black);
    font-size: 42px; 
    font-family: "adorn-condensed-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* used in fx VIP */
  h2 {
    color: var(--black);
    font-size: 22px;
    font-family: "adorn-condensed-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* used for products under each category*/
  h3 {
    color: var(--black);
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-family: "elza-text", sans-serif;
    padding: 5px 0;
  }

  /* Subtitles */
  h4 {
    color: var(--black);
 
  }

  /* body text */
  p {
    color: var(--black);

  }

  /* slogan */
  .slogan {
    color: var(--black);
    font-size: 22px; 
    font-family: adorn-condensed-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-self: center;
  }

  /* Navigation */
  nav a {
    text-decoration: none;
    color: var(--black);
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    font-family: "elza-text", sans-serif;
    padding: 5px 0;
  }

  /* Navigation active*/
  nav a.router-link-exact-active {
    font-weight: 500;
  }

  /* footer text*/
  .footer {
    display: flex;
    column-gap: 25px;
    color: var(--white);
    font-size: 15px;
    font-family: "elza-text", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* hover over footer links */
  .footer a:hover {
    text-decoration: underline;
  }

/* Buttons */

  /* Buttons with the class .themebutton */
  .themebutton{
    background-color: var(--orange);
    color: var(--white);
    font-size: 15px;
    font-family: "elza-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .themebutton:hover {
    background-color: var(--darkerorange);
  }

  .themebutton:focus {
    background-color: var(--darkerorange);
    font-weight: 500;
  }


  /* Buttons with the class .differentbutton */
  .differentbutton {
    background-color: var(--darkgreen);
    color: var(--white);
    font-size: 15px;
    font-family: "elza-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .differentbutton:hover {
    background-color: var(--evendarkergreen);
  }


/* Label for fx login and forms in VIP*/
label {
  color: var(--white);
  font-size: 15px;
  font-family: "elza-text", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* input for fx login - inputs for forms VIP is at the bottom of its routerpage*/
input {
  padding: 3px 10px;
  border-radius: 4px;
  margin-top: 5px;
}

/* products card on views under each category */
.product-card {
  border: none;
  border-radius: 4px;
  background-color: var(--lightgray);
  margin: 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card-image{
  max-height: max-content;
  max-width: 18vw;
  object-fit: cover;
  border-radius: 4px;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

/* edit card under VIP */
.product-card-VIP {
  border: none;
  border-radius: 4px;
  background-color: var(--lightgray);
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card-info-VIP {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.product-card-image-VIP{
  max-height: max-content;
  max-width: 15vw;
  border-radius: 4px;
  object-fit: cover;
  display: flex;
  align-self: center;
}
